/* *** commons *** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

/* *** contenuto pagina *** */

.container {
   height: 100vh;
   position: relative;
}

.container .slider {
    width: 80%;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     /* clearfix */
    content: "";
    display: table;
    clear: both;
}

.col-sx {
    width: 85%;
    height: 100%;
    float: left;
}

.col-dx {
    width: 15%;
    height: 100%;
    float: left;
    position: relative;
}

.col-dx > div.small {
    height: calc(100% / 5);
}

.col-dx .arrow-up {
    margin-top: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-dx .arrow-down {
    margin-bottom: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-dx .arrow-up,
.col-dx .arrow-down {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: lightgray;
    opacity: .5;
    line-height: 25px;
    text-align: center;
}

.col-dx .arrow-up > i, 
.col-dx .arrow-up > i {
    font-size: 20px;
}

/* *** debug *** */
.debug .container {
    background-color: lightpink;
}

.debug .slider {
    background-color: rgb(219, 89, 219);
}

.debug .col-sx {
    background-color: mediumpurple;
}

.debug .col-dx {
    background-color: rgb(90, 58, 156);
}

.debug .col-dx > div.small {
    border: 1px solid black;
}